/* LogoMarquee component specific styles */

.marquee-container {
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 12.5%, rgb(0, 0, 0) 87.5%, rgba(0, 0, 0, 0) 100%);
}

.marquee-track {
    display: flex;
    animation: marquee 50s linear infinite;
    position: relative;
}

/* 
.marquee-track:hover {
    animation-play-state: paused;
} */

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}